html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
	background-color: #f4f4f4;
}


header {
}

timeline {
	height: 400px;
	width: 100%;
}

comment {
	height: 400px;
	width: 200px;
	overflow: hidden;
}

/**
 * Loading animation like the one seen on http://www.freeger.com/projects/contextad/ with CSS
 * Caveat: Not DRY. The content needs to be repeated in a data- attribute (or directly in the CSS).
 */

@keyframes loading {
	from { max-width: 0; }
}

h1 {
	position: absolute;
	margin-left: 20%;
	margin-top: 20%;
	color: #4f4f4f;
	font: 900 800% Baskerville, 'Palatino Linotype', Palatino, serif;
}

h1:before {
	content: attr(data-content);
	position: absolute;
	overflow: hidden;
	max-width: 10em;
	color: white;
	animation: loading 0.5s linear;
}
