body {
	background-color: #f4f4f4;
}

header {
}

timeline {
	height: 400px;
	width: 100%;
}

#comments-users, #comments-firms {
	height: 250px;
	overflow: scroll;
}

html, body {
    height: 100%;
}
#map {
	height: 250px;
}
.row {

}
.module {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #FFFFFF;
	border: #cdcdcd 1px solid;
}
.center {
	text-align: center;
}